
/*
.hide { display: none !important; }

.left { float: left !important; }
.right { float: right !important; }

.text-left { text-align: left; }
.text-right { text-align: right; }

.upcase { text-transform: uppercase; }

img.left { margin: 0 18px 1em 0; }
img.right { margin: 0 0 1em 18px; }
img.center { display: block; margin: 1em auto; }


p.intro { font-size: 1.5em; }
p.center { text-align: center; }
p.fineprint { font-size: .9em; }

a.prompt {}
a.more {}
*/


/* graphical HR's ~ http://borgar.undraland.com/s/2007/01/style-hr-elements/ */
/*
hr {
  border: none;
  outline: none;
  clear: both;
  margin: 1em 0;
  height: 1.4em;
  background: url(i/hr.png) no-repeat 50% 50%;
}

* html hr {
  display: list-item;
  list-style: url(i/hr.gif) inside;
  filter: alpha(opacity=0);
  width: 0;
}
*:first-child+html hr {
  display: list-item;
  list-style: url(i/hr.png) inside;
  filter: alpha(opacity=0);
  width: 0;
}
*/
